body {
    background: linear-gradient(135deg, #5f2c82, #49a09d);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    padding-top: 40px;
}

.todo-box {
    background: #ffffff;
    width: 95%;
    max-width: 550px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 12px 30px rgba(0,0,0,0.25);
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
}


.todo-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

#instructionBox {
    display: none;
    background: #f1f5f9;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    border-left: 5px solid #49a09d;
    animation: fadeIn 0.5s ease;
}

table {
    width: 100%;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.task {
    display: flex;
    justify-content: space-between;
    background: #f1f5f9;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.bin-task {
    background: #ffe6e6; 
    border-left: 5px solid #dc3545;
}

.completed {
    text-decoration: line-through;
    color: #777;
}

#message {
    display: none;
    font-weight: 600;
    color: green;
    animation: fadeIn 0.4s ease;
}